<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
       <add key="ConnectionString" value="Data Source=N34AAX21PKQBDFW;user id=sa;password=xbh;initial catalog=Zjly"/>
    </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LdzzWebServiceSoap" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647" />
                <binding name="WebScheduleSoap" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647" />
                <binding name="DdServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://122.224.142.235/zzld/LdzzWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="LdzzWebServiceSoap"
                contract="ServiceLdzz.LdzzWebServiceSoap" name="LdzzWebServiceSoap" />
            <endpoint address="http://122.224.142.235/yzlnew/WebSchedule.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebScheduleSoap"
                contract="ServiceYzl.WebScheduleSoap" name="WebScheduleSoap" />
            <endpoint address="http://122.224.142.235/zzld/DdService.asmx"
                binding="basicHttpBinding" bindingConfiguration="DdServiceSoap"
                contract="DdService.DdServiceSoap" name="DdServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>